@tailwind base;
@tailwind components;

// Tooltip styles
@import "~balloon-css/src/balloon";

:root {
--balloon-color: #627D98;
}

// Custom styles
html, body {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

.spaced-y-6 > * {
    margin-bottom: 1.5rem;
}

@tailwind utilities;