@tailwind base;
@tailwind components;

// Tooltip styles
@import "~balloon-css/src/balloon";

:root {
--balloon-color: #627D98;
}

// Custom styles
html, body {
    scroll-behavior: smooth;
    max-width: 100%;
    height:100%
}

.top-16 {
    top: 4rem;
}

.blurable {
    backdrop-filter: blur(10px);
}

.fade-yellow {
    background: linear-gradient(90deg, rgba(247,208,112,1) 33%, rgba(26,32,44,0.5) 100%);
}

.fade-grey {
    background: linear-gradient(90deg, rgba(74,85,104,1) 33%, rgba(26,32,44,0.5) 100%);
}

.fade-grey-reverse {
    background: linear-gradient(270deg, rgba(74,85,104,1) 33%, rgba(26,32,44,0) 80%);
}

.sunset {
    background: linear-gradient(180deg, rgba(26,32,44,1) 0%, rgba(45,55,72,1) 33%, rgba(124,94,16,1) 66%, rgba(162,124,26,1) 100%)
}

.spaced-y-6 > * {
    margin-top: 1.5rem;
}

.content {
    @apply mt-8 text-grey-400 leading-normal;

    & h1 {
        @apply text-white text-3xl font-bold;
    }

    & h2 {
        @apply text-white text-3xl;
    }

    & h3 {
        @apply text-white text-2xl font-bold;
    }

    & h4 {
        @apply text-white text-2xl;
    }

    & h5 {
        @apply text-white text-xl font-bold;
    }

    & h6 {
        @apply text-white text-xl;
    }

    & a {
        @apply text-yellow-400 border-b border-yellow-400;
    }

    & a:hover {
        @apply border-b-2 text-yellow-500;
        margin-bottom: 1.5rem;
    }

    & > pre {
        @apply bg-bw-light-transparent p-4 overflow-x-auto border-l border-yellow-400 text-sm font-mono;
    }

    & blockquote {
        @apply italic overflow-auto bg-bw-light-transparent border-t border-b border-yellow-400 p-4 pt-0 mx-12;

        & *:not(first-child) {
            @apply mt-4;
        }
    }

    & ul {
        @apply list-disc ml-12;
    }
    
    & ol {
        @apply list-decimal ml-12;
    }

    & *:not(pre) > code {
        @apply bg-bw-light-transparent p-1 font-mono;
    }

    & hr {
        @apply h-1 border-none mx-12;
        background: linear-gradient(90deg, rgba(247,208,112,1) 33%, rgba(26,32,44,0.5) 100%);
    }
}

@tailwind utilities;